*{
    box-sizing: border-box;
}

.header__container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;    
    position: fixed;
    max-width: 1440px;
    height: 76px;
    top: 0;
    left: 0;
    box-shadow: 0px -2px 0px 0px #EFF2F2 inset;
    margin: 0 auto;
    background-color: #FFFFFF;

}

.logo{
    display: flex;
    justify-content: start;
    width: 51px;
    height: 36px;
    margin-left: 120px;
    margin-top: 20px;
    margin-right: 51px;
    margin-bottom: 20px;  
}
.nav__container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 30px;
    align-items: center;    
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 114%; /* 15.96px */
    letter-spacing: 0.25px;
}
li{
    list-style: none;
    

}
a{
    text-decoration: none;
    color: #333333;
    font-family: "Montserrat-Medium";    
}
.nav__button{    
    display: inline-block;
    padding: 14px 20px;
    align-items: center;
    gap: 10px;
    margin-right: 120px;
    border-radius: 4px;
    background-color:red;
    color: #03B2A5;
    border: none;
    font-family: "Montserrat-Bold";
}
.content{
    display: block;
    overflow: auto;
    margin: 0 120px;   
    max-width: 1440px;
}
.top-row{
    display: flex;
    margin-top: 92px;
}
.top-row__text-one{
    margin-right: 4px;
   
}
.top-row__arrow{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.top-row__arrow__img{
    width: 100%;
    height: 100%;
}


.heading-blog{
    display: inline;
    width: 552px;
    height: auto;
}
.heading-blog__txt{
    line-height: 56px;
    text-align: start;
    font-family: "Montserrat-Bold";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
}

/* для первого блока (строка с названиями статей).*/
.content-one{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items:center;
    flex-flow: row wrap;
    width: auto;
    height: auto;      
    margin-top: 32px; 
   
}
.content-one__box{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;    
    padding: 6px 8px;
    border: 1px solid #C1C5CD;
    border-radius: 24px;
    width: auto;  
    height: 32px;     
    margin: 8px 8px 8px 8px;
       
}
.content-one__box-img{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;    
    width: 20px;
    height: 20px;
    object-fit: cover;
    padding: 1px;
    margin-right: 4px;
}
.content-one__box-txt{
   /* display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;*/
    color: #333;
    font-family: "Montserrat-SemiBold";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
}


/* набор фото для верхней части окнтейнера*/
.img001{
    background-image: url("../images/png/001.png");
}
.img002{
    background-image: url("../images/png/002.png");
}
.img003{
    background-image: url("../images/png/003.png");
}
.img004{
    background-image: url("../images/png/004.png");
}
.img005{
    background-image: url("../images/png/005.png");
}
.img006{
    background-image: url("../images/png/006.png");
}
.img007{
    background-image: url("../images/png/007.png");
}
.img008{
    background-image: url("../images/png/008.png");
}


/* для второго блока (из двух контейнеров*/
.content-two{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr;
    /*grid-auto-rows: 1fr;*/
    column-gap: 24px;    
    row-gap: 23px;
    margin-top: 23px;
}
/*контейнер во втором блоке*/
.content-two__box{
    display: inline-block;
    max-width:588px;
    height:auto;
    border-radius: 24px;
    border: 1px solid #DEDEDE;
}


/* для третьего блока (из трех контейнеров*/
.content-three {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(384px, 1fr)); 
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 1fr;
    column-gap: 24px;    
    row-gap: 23px;
    margin-top: 23px;
}
/*контейнер в третьем блоке*/
.content-three__box{ 
    display: inline-block;
    max-width:384px ;
    max-height: 260px ;
    border-radius: 24px;
    border: 1px solid #DEDEDE;
}


/*фото для контейнера*/
.content__box-img{      
    width: auto;
    height: 260px;
    object-fit: cover;
    border-radius: 24px;
    padding: 8px;   
}


/* контейнер для текста под фото */
.content__box-txt{
    display: flex;
    flex-direction: column;
    margin: 17px 16px 16px 16px;
    justify-content: start;
    align-items: start;
    row-gap: 4px;
}
/* набор текстов под фото*/
.txt001{
    align-self: stretch;
    color: #333;
    font-family: "Montserrat-Bold";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 144.444% */    
    height: 52px;
    max-width:541px ;
    /*margin-bottom: 14px;*/
}
.txt002{
    color: #494949;
    font-family: "Montserrat-Regular";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    letter-spacing: 0.25px;   
    
    
}








.content-three__box-txt{
    display: block;
    width:384px ;
    padding: 16px;

}
.shadow{
    background-color: #FFFFFF70;
}
